body {
  // line-height = 1 x font-size of text
  line-height: .8;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: .9px;
  margin: 0;
}

.gradient {
  background-image:
  linear-gradient(
    to right,
    #2a282b, rgba(0, 0, 0, 0) 30%
  );
}
.text-block {
  line-height: 1.7;
}
.app-wrapper {
  box-sizing: border-box;
  .content {
    width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    font-size: 16px;
    &.small {
      width: 60%;
      font-size: 100%;
    }
    &.overlay {
      position: absolute;
      z-index: 111;
      top: 75px;
      left: 0;
      right: 0;
      &.home {
        top: 115px;
      }
    }
  }
}

hr {
  &.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,transparent,rgb(71, 71, 72),transparent);
  }
}

.link {
  color: blue;
  &:hover {
    color: #5a73ff;
    cursor: pointer;
  }
}

.incorrect {
  color: #ff7a70;
  &.shadow {
    text-shadow: 0 2px 4px rgb(103, 35, 30);
  }
}
.correct {
  color: #76d462;
  &.shadow {
    text-shadow: 0 2px 4px rgb(33, 72, 24);
  }
}

p {
  font-size: 16px;
  &.heading {
    font-size: 20px;
    display: inline-block;
    &.block {
      display: block;
    }
    &.nav {
      margin-top: 14px;
    }
  }
}

.control-panel {
  text-align: center;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}
.box-shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,.3);
  &.dark {
    text-shadow: 0 2px 4px rgba(0,0,0,1);
  }
  &.light {
    text-shadow: 1px 1px 3px rgba(0,0,0,.2)
  }
}
.clear {
  clear: both;
}

h1, h2, h3, h4 {
  display: inline-block;
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease-in-out 0.1s;
}

pre code {
  font: 16px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: #52595d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  display: inline-block;
  width: 100%;
  padding: 0 3px 0 140px;
}

.strip {
  width: 100%;
  &.large {
    padding: 20px 0;
  }
  &.small {
    padding: 10px 0;
  }
  &.smallest {
    padding: 5px 0;
  }
  &.blue {
    text-align: center;
    background-color: #4b3d81;
    min-width: 600px;
    &.gradient {
      background-image: linear-gradient(to right, rgba(57, 194, 218, 0), rgba(57, 194, 218, 1) 35%, rgba(57, 194, 218, 0));
    }
    &.border {
      border-bottom: thin solid rgba(0,0,0,.3);;
    }
  }
}

.full-section {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  color: black;
  &.dark-gray {
    background-color: #2a282b;
  }
  &.black {
    background-image: radial-gradient(#474548, #2a282b);
    color: white;
  }
  &.pure-black {
    background-color: #080706;
    color: white;
  }
  &.dark-black {
    background-image: radial-gradient(#1d1b1e, #09070a);
    color: white;
    &.shanghai-img {
      background-image: url(/data/assets/shanghai.jpg);
      background-position: bottom center;
      background-size: cover;
    }
  }
  &.light {
    background-image: radial-gradient(#fdfdfd,#bbb);
  }
  &.white {
    background-color: white;
  }
  &.blue {
    background-image: radial-gradient(#65eef8, #1f7fce);
  }
  &.purple {
    background-image: radial-gradient(#7e81e6,#393279);
  }
  &.dark-red {
    color: white;
    background-image: radial-gradient(#331f1f,#000000);
    border-bottom: thin solid #6d0604;
    &.cn-img {
      background-image: url(/data/assets/cn_backdrop.jpg);
      background-position: bottom center;
      background-size: cover;
    }
  }
  &.lg {
    padding: 60px 0;
  }
  &.sm {
    padding: 20px 0;
  }
  &.center {
    text-align: center;
  }
  &.min-height {
    min-height: 500px;
  }
  &.of-hidden {
    overflow: hidden;
  }
  &.height {
    padding: 0;
    height: 350px;
  }
}
