body {
//  background-color: white;
  line-height: .9;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: .9px;
  margin: 0;
  background-color: gainsboro;

}

.app-wrapper {
  box-sizing: border-box;
  .content {
    width: 90%;
    margin: 0 auto;
  }
}

.tags {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .tag {
    background-color: green;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(228, 225, 220,.7);
    border: thin solid #c3c3c3;
    &:hover {
      background-color: rgba(216, 213, 208, 0.70);
    }
  }
}

p {
  &.heading {
    font-size: 18px;
    display: inline-block;
    &.nav {
      margin-top: 13px;
    }
  }
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;
}

.full-section {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  &.black {
    background-image: radial-gradient(#474548, #2a282b);
  }
  &.white {
    background-color: white;
  }
  &.lg {
    padding: 60px 0;
  }
  &.sm {
    padding: 10px 0;
  }
}
