body {
    font-family: monospace;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: gainsboro;
}

h3 {
    margin: 0px;
}
p {
    margin-bottom: 15px;
}

.build {
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;
    float: right;
}

#GameBoard {
    background-color: #303030;
    border: 1px solid black;
    color: white;
    width: 1300px;
    height: 850px;
}

#Table {
    width: 1050px;
    float: left;
    height: 783px;
    padding-top: 10px;
}

#deal { 
    position: absolute;
    top: 345px;
    left: 800px;
    z-index: 10;
    border: thin solid black;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    color: lightGray;
}

#enable_AI, #show_AI_hand{
    border: thin solid black;
    padding: 10px;
    background-color: rgba(100,100,100,.4);
    color: lightGray;
}

#deal:hover, #enable_AI:hover, #show_AI_hand:hover {
    color: white;
    cursor: pointer;
    background-color: darkGray;
}

#runs, #melds {
    height: 50px;
}

#deadwood {
    height: 110px;
}

.player_sets {
    width: 20%;
    margin: 1px;
}

.heading {
    color: #00CCFF;
}

.step {
    height: 30px; 
}

.left {
    margin-left: 5px;
    width: 180px;
    padding: 20px;
    background-color: rgba(0,0,0,.4);
    float: left;
}
.left > select {
    padding: 20px;
    display: block;
}

.center {
    text-align: center;
}