<div class="footer">
    <div class="clear"></div>
    <p class="text-center text-muted">Copyright © 2016 Daniel Turcotte</p>
    <div class="footer_logos">
        <a href="https://github.com/dtturcotte" target="_blank">
            <img src="../../../data/assets/contact/github_footer.png"/>
        </a>
        <a href="https://www.facebook.com/daniel.t.turcotte" target="_blank">
            <img src="../../../data/assets/contact/facebook.png"/>
        </a>
        <a href="https://www.linkedin.com/in/daniel-turcotte-40566817" target="_blank">
            <img src="../../../data/assets/contact/linkedin.png"/>
        </a>
    </div>
    <p class="text-center text-muted small">Made with <i class="fa fa-laptop fa-lg" aria-hidden="true"></i> and NodeJS</p>
</div>
