<div class="footer">
    <div class="clear"></div>
    <p class="text-center text-muted">Copyright © 2016 Daniel Turcotte</p>
    <a href="https://github.com/dtturcotte" target="_blank">
        <img src="../../../data/assets/github_footer.png"/>
    </a>
</div>
