<div class="game">
  <div class="full-section center lg light">
      <section class="content">
          <div class="content-blocks left-image">
              <div class="content-block left">
                  <img src="../../data/assets/clg_speech.png"/>
              </div>
              <div class="content-block right">
                  <p>
                      <%= product_name %> is a unique method of teaching foreign language in a fun and engaging way. It immerses students in a game world where they follow the storyline of becoming the hero as they save a village fallen under siege of an Ancient Dragon and his minions.
                  </p>
                  <p>
                      While immersed in the storyline, the student uses the underlying language instruction system to solve game challenges which allows them to progress to new quests and new levels. Each level has several quests, which each contain several characters with challenges to solve.
                  </p>
              </div>
          </div>
          <div class="content-blocks right-image">
              <div class="content-block right">
                  <img src="../../data/assets/beta_test_1.jpg"/>
              </div>
              <div class="content-block left">
                  <p>
                      With months of hard work, and the help of a close friends and contributors, I was able to host three successful beta tests at Connecticut high schools.
                  </p>
                  <p>
                      For this particular beta, I traveled with a few teammates to work with 20+ students and teachers as they tried out my product. With built-in metrics collection and well-tested game design, the students were able to play through all four quests of the game.
                      The beta lasted about two hours.
                  </p>

              </div>
          </div>
          <div class="content-blocks left-image">
              <div class="content-block left">
                  <img src="../../data/assets/Teacher_Dashboard_2.png"/>
              </div>
              <div class="content-block right">
                  <p>
                    As a parent or teacher, it's important to have a clear idea of student performance. The gameplay experience hooks directly into our <a href="http://clg-dashboard.com.s3-website-us-east-1.amazonaws.com/#/" target="_blank" class="link">feedback dashboard</a> which tracks each student's journey.
                  </p>
                  <p>
                    The dashboard emphasizes individualized and peer-to-peer education by breaking down their progress by learning module and highlighting strong and weak points. This provides an opportunity for students of opposite performance to pair together.
                    From our beta tests, we've found this fosters teamwork and builds confidence.
                  </p>

              </div>
          </div>
          <div class="content-blocks right-image">
              <div class="content-block right">
                  <img src="../../data/assets/beta_test_2.jpg"/>
              </div>
              <div class="content-block left">
                  <p>
                      This was an amazing experience that taught me about iterative design, validation, and usability testing.
                  </p>
                  <p>
                      Students found themselves in situations I had never dreamed of which was humbling to say the least. Fortunately,
                      a post-game survey showed 100% interest in replay and positive learning trends. The average sweetspot of words learned per day is 15,
                      yet many of my students were able to recall 15 vocab words within 2 hours.
                  </p>

                  <p>
                      Interested in learning? Give it a go! 加油 (Good luck!)
                  </p>
                  <a href="http://custom-env-1.us53cxnpxi.us-east-1.elasticbeanstalk.com/" target="_blank">
                      <button class="buttons black-border">Try it!</button>
                  </a>
              </div>
          </div>
          <div class="clear"></div>
      </section>
  </div>
</div>
