<div class="header">
    <section class="content">
        <a href="/">
            <p class="heading nav"><%= static.author %></p>
        </a>

        <div class="nav-items">
            <% for(var i=0; i < static.nav.length; i++) { %>
                <a href="<%= static.nav[i].link %>" class="nav-link">
                    <div class="nav-item">
                        <span data-url="<%= static.nav[i].link %>"><%= static.nav[i].display %></span>
                    </div>
                </a>
            <% } %>
        </div>

        <div class="nav-items"></div>
    </section>
</div>
