<div class="header">
    <section class="content">
        <p class="heading nav"> Daniel T. Turcotte </p>

        <div class="nav-items">
            <% for(var i=0; i < static.nav.length; i++) { %>
                <div class="nav-item">
                    <a href="/<%= static.nav[i] %>" class="nav-link"><%= static.nav[i] %></a>
                </div>
            <% } %>
        </div>

        <div class="nav-items"></div>
    </section>
</div>
