<div class="header">
    <section class="content">
        <a href="/">
            <p class="heading nav"><%= static.author %></p>
        </a>

        <div class="nav-items">
            <% for(var i=0; i < static.nav.length; i++) { %>
                <div class="nav-item">
                    <a href="<%= static.nav[i].link %>" class="nav-link"><%= static.nav[i].display %></a>
                </div>
            <% } %>
        </div>

        <div class="nav-items"></div>
    </section>
</div>
