<div class="tags">
    <% for(var i=0; i < tags.length; i++) { %>
        <div class="tag">
            <img src="<%= tags[i].icon %>"/>
            <span><%= tags[i].name %></span>
        </div>
    <% } %>
</div>
<button id="see-more-tags" class="buttons black-border margin-top small">More tags & projects</button>

