<div class="tags">
    <% for(var i=0; i < static.tags.length; i++) { %>
        <div class="tag">
            <img src="<%= static.tags[i].icon %>"/>
            <span><%= static.tags[i].name %></span>
        </div>
    <% } %>
    <div class="clear"></div>
    <button class="buttons black-border">See more tags</button>
</div>
