.about {
  img, #quiz {
    display: none;
  }
  .content-blocks {
    display: inline-block;
    width: 100%;
    &.black {
      background-color: black;
    }
    .code-block {
      text-align: left;
      font-size: 16px;
      img {
        width: 150px;
      }
    }
    .content-block {
      position: relative;
      #shanghai {
        min-width: 640px;
        max-width: 900px;
        margin-top: -100px;
        filter: contrast(110%);
//        float: right;
      }
      #guess_who {
        max-width: 800px;
        width: 90%;
        transition: 1s ease-in-out;
        filter: contrast(100%);
        &:hover {
          filter: contrast(150%);
        }
      }
      &.left {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        height: 350px;
        color: #fff;
        line-height: 1.4;
        &.music {
          width: 45%;
          height: auto;
        }
        .text-block {
          width: 60%;
          margin: 100px auto 0;
          vertical-align: top;
          p {
            margin-left: 50px;
          }
        }
      }
      &.right {
        width: 50%;
        display: inline-block;
        position: relative;
        float: right;
        &.music {
          width: 55%;
          display: inline-block;
          position: relative;
          float: right;
          text-align: left;
        }
        .overlay {
          height: 350px;
          width: 100%;
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
        }
      }
    }
  }
  *::-webkit-input-placeholder {
    color: snow;
  }
  *:-moz-placeholder {
    /* FF 4-18 */
    color: snow;
  }
  *::-moz-placeholder {
    /* FF 19+ */
    color: snow;
  }
  *:-ms-input-placeholder {
    /* IE 10+ */
    color: snow;
  }
  textarea:focus, input:focus {
    color: snow;
  }
  input[type="text"] {
    background-color: #48528f;
    border-radius: 0;
    border: none;
    box-shadow: inset 2px 2px 2px 0px #243182;
  }
  button {
    border: none;
    padding: 7px 26px;
    border-radius: 0;
  }
}
