.buttons {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 8px;
  color: white;
  display: inline-block;
  border: none;
  width: 175px;
  margin-top: 15px;
  margin-bottom: 10px;
  -webkit-transition: width .5s, height .5s, background-color .5s, color .5s, -webkit-transform .5s;
  transition: width .5s, height .5s, background-color .5s, color .5s, transform .5s;
  &:hover {
    cursor: pointer;
  }
  &.button-error {
    opacity: 0.4;
  }
  &.gray {
    background-color: #9C9C9C;
    &:hover {
      background-color: #bfbfbf;
    }
  }
  &.red {
    background-color: #f3344d;
    &:hover {
      background-color: #ff586e;
    }
  }
  &.blue {
    background-color: #9193e8;
    &:hover {
      background-color: #a6a8ff;
    }
  }
  &.white-border {
    border: 1px solid white;
    background: none;
    color: white;
    &:hover {
      background: white;
      color: black;
    }
  }
  &.black-border {
    border: 1px solid $darker-gray;
    background: none;
    color: black;
    &:hover {
      background: $darker-gray;
      color: white;
    }
  }
  &.purple-border {
    border: 1px solid $purple;
    background: none;
    color: $purple;
    &:hover {
      background: $purple;
      color: white;
    }
  }
  &.large {
    padding: 15px;
    width: 220px;
    font-size: 20px;
  }
  &.margin-top {
    margin-top: 60px;
    &.small {
      margin-top: 25px;
    }
  }
}
