.header {
  width: 100%;
  height: 50px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-image: radial-gradient(rgba(111, 80, 206, .6), rgba(86, 75, 172, .6));
  .nav-items {
    margin-left: 100px;
    vertical-align: top;
    height: 50px;
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    a {
      color: white;
      opacity: .85;
      &:hover {
       opacity: 1;
      }
    }
    .active {
      background-image: radial-gradient(rgba(97, 72, 172, 0.80), rgba(86, 75, 172, .6));
    }
    div {
      display: inline-block;
      width: 100px;
      height: 100%;
      text-align: center;
      &:hover {
        background-image: radial-gradient(rgba(111, 80, 206, .6), rgba(86, 75, 172, .6));
      }
      span {
        display: inherit;
        margin-top: 16px;
        &:hover {
          color: white;
        }
      }
    }
  }
}
