.work {
  letter-spacing: 1.3px;
  .linked_in {
    line-height: 1.8;
    .recommender {
      color: #393939;
      font-size: 14px;
    }
  }
  .content-blocks {
    margin-bottom: 70px;
    display: inline-block;
    line-height: 1.6;
    @include break(handset) {
      margin-bottom: 35px;
    }
    &.left-image {
      .content-block {
        display: inline-block;
        &.left {
          width: 50%;
          float: left;
          box-shadow: 1px 1px 12px 1px rgba(1, 1, 1, 0.1);
          img {
            width: 100%;
          }
          @include break(handset) {
            width: 100%;
            float: none;
          }
        }
        &.right {
          width: 45%;
          float: right;
          text-align: left;
          vertical-align: top;
          line-height: 1.8;
          margin-top: 2%;
          @include break(handset) {
            width: 100%;
            float: none;
            text-align: left;
          }
        }
      }
    }
    &.right-image {
      .content-block {
        display: inline-block;
        &.left {
          width: 45%;
          float: left;
          text-align: right;
          vertical-align: top;
          line-height: 1.8;
          margin-top: 2%;
          @include break(handset) {
            width: 100%;
            float: none;
            text-align: left;
          }
        }
        &.right {
          width: 50%;
          float: right;
          box-shadow: 1px 1px 12px 1px rgba(1, 1, 1, 0.1);
          img {
            width: 100%;
          }
          @include break(handset) {
            width: 100%;
            float: none;
          }
        }
      }
    }
  }
  #clients {
    color: white;
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    a {
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 100;
      margin: 20px 30px 0px;
      color: inherit;
      display: inline-block;
      font-size: 20px;
    }
  }
  .projects {
    .project {
      position: relative;
      display: inline-block;
      vertical-align: top;
      transition: font-weight .5s, width .5s, height .5s, background-color .5s, color .5s, transform .5s;
      height: 300px;
      width: 28%;
      margin: 22px;
      background-color: #fff;
      overflow: hidden;
      color: white;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      @include break(tabletmax) {
        width: 42%;
      }
      @include break(handset) {
        width: 90%;
      }
      &:hover {
        cursor: pointer;
        .info {
          height: 100%;
          background-color: rgba(0, 0, 0, .85);
          .title {
            font-weight: 500;
            text-shadow: 0 2px 4px rgb(89, 84, 122);
          }
          .bottom-icons  {
            transition: opacity 1s ease-in;
            opacity: 1 !important;
          }
        }
      }
      .info {
        text-align: left;
        position: absolute;
        background-color: black;
        width: 100%;
        height: 15%;
        line-height: 1.6;
        vertical-align: top;
        background-color: rgba(0, 0, 0, .7);
        color: white;
        transition: opacity .5s, width .5s, height .2s, background-color .5s, color .5s, transform .5s;
        overflow: hidden;
        z-index: 2;
        p {
          margin-left: 10px;
          margin-top: 10px;
          display: inline-block;
          padding-right: 10px;
        }
        .bottom-icons {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          bottom: 8px;
          transition: opacity .1s ease-out;
          &.github {
            padding: 10px;
            margin: 0 auto;
            text-align: center;
            &.text {
              font-size: 12px;
              bottom: -5px;
            }
          }
        }
        .icons {
          display: inline-block;
          float: right;
          margin: 10px;
          img {
            width: 23px;
            height: 23px;
          }
        }
      }
      &.expand {
        width: 100%;
        height: 400px;
      }
    }
  }
}
