#home {
  line-height: 1.3;
  .project {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -webkit-transition: width .5s, height .5s, background-color .5s, color .5s, -webkit-transform .5s;
    transition: width .5s, height .5s, background-color .5s, color .5s, transform .5s;
    height: 200px;
    width: 23%;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #fff;
    overflow: hidden;
    color: white;
    border: thin solid #4e498e;

    &:hover {
      background-color: black;
    }
    .info {
      position: absolute;
      background-color: black;
      width: 100%;
      height: 20%;
      vertical-align: top;
      background-color: rgba(0,0,0,.7);
//      background-color: rgba(255,255,255,.6);
      color: white;
      transition: width .5s, height .2s, background-color .5s, color .5s, transform .5s;
      overflow: hidden;
      z-index: 2;
      p {
        margin-left: 10px;
        margin-top: 10px;
      }
      &:hover {
        height: 100%;
        background-color: rgba(0,0,0,.85);
//        background-color: rgba(255,255,255,.75);
      }
    }
    &.expand {
      width : 100%;
      height: 400px;
    }
  }
}
