<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>

        <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyBHvSoXwYoELHoVt1E0WdpJR2zbLJsjtRw",
                authDomain: "musicquiz-79603.firebaseapp.com",
                databaseURL: "https://musicquiz-79603.firebaseio.com",
                storageBucket: ""
            };
            firebase.initializeApp(config);
        </script>

        <script src="../../build/js/bundle.js"></script>

    </head>
	<body>
		<div class="app-wrapper">
			<header>
                <% include ../partials/header %>
            </header>

            <div class="about">
                <div class="full-section of-hidden height dark-gray">
                    <div class="content-blocks">
                        <div class="content-block left">
                            <div class="text-block">
                                <p class="heading text-shadow dark">
                                    I am honored you have come to learn more about me. I like to do the sports, sketch things, and speak foreign languages at people.
                                </p>
                            </div>
                        </div>
                        <div class="content-block right">
                            <div class="overlay gradient"></div>
                            <div class="image-container">
                                <img id="shanghai" src="../../data/assets/shanghai.jpg"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-section center lg white">
                    <section class="content small">
                        <div class="content-blocks">
                            <p class="heading">run C:/turcotte.exe </p>

                            <div class="code-block">
<pre>
<code>


do {
    <div class="code-line">
        <img src="../../data/assets/skateboard.png"/>.exec("spinning mcflippers");
    </div>
    <div class="code-line">
        <img src="../../data/assets/ski.png"/>.exec("twisty upsidedowners");
    </div>
    <div class="code-line">
        <img src="../../data/assets/brush.png"/>.exec("happy accidents");
    </div>
}
while (!coding);


</code>
</pre>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="strip smallest blue gradient border"> <img src="../../data/assets/headphones.png"/></div>
                <div class="full-section center lg pure-black">
                    <section class="content">
                        <div class="content-blocks">
                            <a href="https://www.youtube.com/watch?v=8Pa9x9fZBtY" target="_blank">
                                <div class="content-block left music">
                                    <img id="guess_who" src="../../data/assets/guess_who.png"/>
                                </div>
                            </a>
                            <div class="content-block right music">
                                <div class="text-block">
                                    <p>
                                        This guy's music is amazing, so I painted this and sent it to him. I didn't hear back, but I'm sure he hung it up somewhere special.
                                    </p>
                                    <p>
                                        <span style="font-weight: 600;">10 points</span> if you can guess who it is.
                                    </p>
                                    <hr class="style-two">
                                    <div id="music_quiz_input_container" class="input-group">
                                        <input type="text" id="music_quiz_input" class="form-control" placeholder="Make your guess...">
                                          <span class="input-group-btn">
                                            <button class="btn btn-default" id="music_quiz_input_button" type="button">Go!</button>
                                          </span>
                                    </div>
                                    <div id="result"></div>
                                    <div id="quiz"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
                <div class="full-section center lg light">
                    <a href="/">
                        <button class="buttons large black-border">Check out my work!</button>
                    </a>
                </div>
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
		</div>
	</body>
</html>
