<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<div class="app-wrapper">
			<header>
                <% include ../partials/header %>
            </header>

            <div class="about">
                <div class="full-section center of-hidden height white">
                        <div class="content-blocks black">
                            <div class="content-block left">
                                <p>
                                    I have been studying Mandarin since 2007 and read and speak proficiently. Pictured here, I was honored to join a group of 20 high schools students through
                                    <a href="http://jaconn.org/ja-goes-china/" target="_blank" class="link">Junior Achievement</a>
                                    as their teacher and mentor while they created mock trading companies in Beijing. An experience I will never forget! <a class="link" target="_blank" href="http://jainchina.blogspot.com/">Read more!</a>
                                </p>
                            </div>
                            <div class="content-block right">
                                <div class="overlay gradient"></div>
                                <div class="image-container">
                                    <!--<img src="../../data/assets/shanghai.jpg"/>-->
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
		</div>
	</body>
</html>
