<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>

        <script>
            $(document).ready(function () {

                $('#copy-email').on('click', function () {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val($('#email-address').text()).select();
                    document.execCommand("copy");
                    $temp.remove();
                });
            });
        </script>
    </head>
	<body>
		<div class="app-wrapper">
			<header>
                <% include ../partials/header %>
            </header>

            <div class="contact">
                <div class="full-section light center of-hidden height small text-lighten">
                    <section class="content small overlay">
                        <h1 class="text-shadow">Thanks for visiting!</h1>
                        <p class="heading block">I can be reached at the following email address. Say hello!</p>
                    </section>
                </div>
                <div class="strip smallest blue gradient border"></div>
                <div class="full-section lg center white">
                    <div class="content-block">
                        <img class="email-icon" src="../../../data/assets/email.png"/>
                        <p id="email-address" class="heading vertical-middle">dthusky@gmail.com</p>
                    </div>
                    <button class="buttons black-border" id="copy-email">Copy email</button>
                </div>

            </div>
            <hr>
            <footer>
                <% include ../partials/footer %>
            </footer>
		</div>
	</body>
</html>
