<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>
    </head>
	<body>
		<div class="app-wrapper">
			<header>
                <% include ../partials/header %>
            </header>

            <div class="contact">
                <div class="full-section light lg center of-hidden height">
                    <section class="content small overlay home">
                        <h1 class="text-shadow">Do the needful</h1>
                        <p class="heading">I have leveraged my full-stack experience to build anything from comprehensive test prep platforms to Alexa voice ordering beer experiences</p>

                    </section>
                </div>
                <div class="strip smallest blue gradient border"></div>
                <div class="full-section center white">
                    <a href="/work">
                        <button class="buttons large black-border">Check out my work!</button>
                    </a>
                </div>
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
		</div>
	</body>
</html>
