<!DOCTYPE html>
<html lang="en">
	<head>
        <% include ../partials/head %>

        <script>

            var htws = {
                url : 'http://hittingtreeswithsticks.com/?action=personalpage',
                art_limit : 40, 	// limit return
                comics_limit : 10,  // limit return
                max_width : 200, 	// specify image width in px
                max_height : 200, 	// specify image height in px
                site : 'artwork' 	// ...or comics
            };

            var layouts = [
                'grid-item',
//                'grid-item grid-item--width3',
//                'grid-item grid-item--height3',
                'grid-item grid-item--width3 grid-item--height3'
            ];

        </script>
        <script src="../../build/js/imageCollage.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
        <script>var tags = <%- JSON.stringify(tags); %>;</script>
        <script src="../../build/js/skills.js"></script>
	</head>
	<body>
		<div class="app-wrapper">
			<header>
                <% include ../partials/header %>
            </header>
            <div class="skills">
                <div class="full-section lg black center of-hidden height">
                    <div class="grid"></div>
                    <section class="content small overlay home">
                        <h1 class="text-shadow">I love building things customers would <i>want</i> to use</h1>
                        <p class="heading">I have leveraged my full-stack experience to build anything from comprehensive test prep platforms to Alexa voice ordering beer experiences</p>
                    </section>
                </div>
                <div class="full-section center lg white">
                    <section class="content small">
                        <p class="heading">How do I stack up?</p>
                    </section>
                    <div class="charts">
                        <canvas id="chart" width="400" height=400"></canvas>
                    </div>
                </div>
                <div class="full-section lg dark-red center of-hidden cn-img">
                    <section class="content small">
                        <h1 class="chinese large text-shadow">欢迎</h1>
                        <p class="heading block">Beyond coding and artwork, I love Chinese language and culture</p>
                    </section>
                    <div class="art-image">
                        <a href="http://hittingtreeswithsticks.com/?action=viewimage&site=artwork&id=22" target="_blank">
                            <img src="../../data/assets/jingju.png"/>
                        </a>
                    </div>
                </div>
                <div class="full-section center lg light">
                    <section class="content small">
                        <div class="content-blocks">
                            <div class="content-block left">
                                <p>
                                    I have been studying Mandarin since 2007 and read and speak proficiently. Pictured here, I was honored to join a group of 20 high schools students through
                                    <a href="http://jaconn.org/ja-goes-china/" target="_blank" class="link">Junior Achievement</a>
                                    as their teacher and mentor while they created mock trading companies in Beijing. An experience I will never forget! <a class="link" target="_blank" href="http://jainchina.blogspot.com/">Read more!</a>
                                </p>
                            </div>
                            <div class="content-block right">
                                <img src="../../data/assets/beijing.jpg"/>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </section>
                    <hr>
                    <p class="heading text-shadow light">I write more about my cultural experiences (in 中文) <a href="http://tao-dan.blogspot.com/" target="_blank" class="link">here</a></p>
                </div>
            </div>
            <footer>
                <% include ../partials/footer %>
            </footer>
		</div>
	</body>
</html>
